doctype html
html
  head
    title= title
    script(src="/javascripts/jquery-3.4.1.min.js")
    script(src="/javascripts/bootstrap.bundle.min.js")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body  
    .container-fluid.listing-reg
      nav(id=nav class="navbar navbar-expand-sm navbar-dark bg-dark")
        include navbar.pug
      #background
        block content
      
  script.
      $(".textButton").click(function(){

        $.get(`/text/${this.id}.txt`, function(result){
            if(result == 'ON'){
                alert('ON')
            } else if(result == 'OFF'){
                alert('OFF');
            } else{
                $(".textField").html(`${result}`);
            }
        });
      });