@import url('https://fonts.googleapis.com/css?family=Aladin');


body{
    background-color: black;
    font-family: aladin;
}

#title{
  color: white;
  text-align: center
}

#background{
  background-image: url('/images/saisjo.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
}
#text{
  text-align: center;
  color: white;
  font-size: 30px
}
.margin{
  margin: 10px;
}
.textButton{
  font-size: 25px;
}
.flex-justify-center{
  display: flex;
  justify-content: center ;
}