@import url('https://fonts.googleapis.com/css?family=Aladin');


.container{
    font-family: aladin;
}

body{
    background-color: black;
}

#title{
  color: white;
  text-align: center
}

#background{
  background-image: url('/images/saisjo.jpg');
  background-repeat: no-repeat;
  background-size: 200%;
  min-height: 100vh;
}
#text{
  text-align: center;
  color: white;
  font-size: 40px
}
.margin{
  margin: 10px;
}
.textButton{
  font-size: 20px;
}