extends ../layout

block content
    #background
        .row
            .col-2
            .col-8
                h1#title= title
            .col-2
        .row
            .col-2
            .col-8
                button#diana.btn.btn-info.textButton.margin(type="button") Diana
                button#juno.btn.btn-info.textButton.margin(type="button") Juno
                button#morrigan.btn.btn-info.textButton.margin(type="button") Morrigan
                button#triune.btn.btn-info.textButton.margin(type="button") Triune
            .col-2
        .row
            .col-12
                #text
                    p.textField
