extends ../layout

block content
    .row
        .col-2
        .col-8
            h1#title= title
        .col-2
    .row
        .col-2
        .col-8.flex-justify-center
            button#world.btn.btn-info.textButton.margin(type="button") World
            button#saisjo.btn.btn-info.textButton.margin(type="button") Saisjo
            button#ohfun.btn.btn-info.textButton.margin(type="button") Ohfun
            button#romliearth.btn.btn-info.textButton.margin(type="button") Romliearth
            button#ishalhan.btn.btn-info.textButton.margin(type="button") Ishalhan
            button#others.btn.btn-info.textButton.margin(type="button") Others
        .col-2
    .row
        .col-12
            #text
                p.textField

    